/* Reset */
* {
    padding: 0px;  
    margin: 0px;  
    box-sizing: border-box;
    }

/* Background IDs */
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
#vidSource {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #656565;
    width: 100%;
    padding: 10px;
}
#vidSource a {
    color:#b15275;
    text-decoration: none;
}

/* Navigation Bar IDs */
#navigation ul {
    display: grid;
    grid-template-columns: 5% auto auto auto auto auto 5%;
    list-style-type: none;
    background-color: rgb(76, 8, 26);
    height: 61.5px;
    gap: 5px;
}
#navigation a {
    display: block;
    padding: 20px;
    top: 0;
    position:relative;
    font-size: 1.2rem;
    text-align: center;
    color:#ff7d9c;
    background-color: rgb(25, 25, 25);
    text-decoration: none;
    box-shadow: 0 0 0 black;
    transition: top .5s, box-shadow .5s, background-color .5s, color .5s;
}
#navigation ul a:hover {
    color: #F2F2F2;
    background-color: rgb(76, 8, 26);
    box-shadow: 0 5px 5px black;
    top: 10px;
}

/* Main Content Container IDs */

/* html, body {margin: 0; height: 100vh; overflow: hidden} */

#mainContentHome {
    display: grid;
    grid-template-columns: auto;
    min-width: fit-content;
    height: 87vh;
    margin: 0 auto;
    gap: 15px;
    padding: 2% 20% 0 20%;
    position: fixed;
    /* temp border for troubleshooting */
    /* border-style: solid;
    border-color: #F2F2F2;
    box-sizing: border-box; */
}
#mainContentAbout {
    display: grid;
    grid-template-columns: auto auto;
    min-width: fit-content;
    height: 86vh;
    max-height: 87%;
    margin: 0 auto;
    gap: 15px;
    padding: 2% 10% 0 10%;
    /* border-style: solid;
    border-color: #F2F2F2;
    box-sizing: border-box; */
}
#mainContentBlogs {
    display: grid;
    grid-template-columns: auto 65%;
    min-width: fit-content;
    height: 86vh;
    max-height: 87%;
    margin: 0 auto;
    gap: 2%;
    padding: 2% 10% 0 10%;
    /* border-style: solid;
    border-color: #F2F2F2;
    box-sizing: border-box; */
}
/* #mainContentPortfolio {
    display: grid;
    grid-template-columns: auto;
    min-width: fit-content;
    max-height: 87%;
    margin: 0 auto;
    gap: 15px;
    padding: 2% 20% 0 20%;
} */
#mainContentContainer {
    max-height: 100%;
    overflow: auto;
    overflow-x: hidden;
    background-image: linear-gradient(180deg, #5b0c21d6, rgba(0, 0, 0, 0.874));
    border: solid #ff003c80;
    border-radius: 10px;
    box-sizing: border-box;
}
#mainContentContainerHeader {
    color:#ff7d9c;
    text-align: center;
    margin: 15px;
}
#mainContentContainer h2, h3, h4, h5, h6 {
    color: #ff324d;
}

/* Side Content Container IDs */
#sideContent {
    text-align: center;
    color: #ff7d9c;
    overflow: auto;
    overflow-x: hidden;
    background-image: linear-gradient(180deg, #5b0c21d6, rgba(0, 0, 0, 0.874));
    padding: 10px;
    border: solid #ff003c80;
    border-radius: 10px;
}
#RSSfeed {
    border: solid #ff7d9b80;
    border-radius: 5px;
}
/* Blog Post Classes */
.blogPosts p {
    color: #f2f2f2;
    padding: 5px;
    padding-left: 25px;
}
.blogPosts ul {
    color: #c49595;
    padding: 2px;
    padding-left: 35px;
    list-style-type: circle;
}

/* Collapsible Boxes CSS */
.collapsible {
color: #ff324d;
background-color: transparent;
cursor: pointer;
padding: 5px;
width: 100%;
border: none;
border-radius: 10px;
text-align: left;
outline: none;
font-size: 15px;
} 
.active, .collapsible:hover {
background-color: #780b28;
}
.collapsible:after {
content: '\002B';
color: #ff324d;
font-weight: bold;
float: right;
margin-left: 5px;
}
.active:after {
content: "\2212";
}
.content {
padding: 0 5px;
max-height: 0;
overflow: hidden;
transition: max-height 0.4s ease-out;
}

/*Portfolio Page ID's and Classes

    I am creating separate ids and classes for this page simply because I feel
    like the structure on the rest of the website is restricting or not working 
    how i want it to work and it is sort of mentally road blocking me. Starting 
    fresh helps me progress the portfolio section of my website. 
*/
#portfolioContainerWrap {
    /* background-color: #f2f2f2; */
    position: fixed;
    height: 85vh;
    width: 60vw;
    margin: 10px 20%;
}
#portfolioContainer {
    /* background-color: #656565; */
    background-image: linear-gradient(180deg, #5b0c21d6, rgba(0, 0, 0, 0.874));
    border: solid #ff003c80;
    border-radius: 10px;
    position: relative;
    height: 84vh;
    min-height: 83vh;
    max-height: 85vh;
    overflow: hidden;
    border-radius: 10px;
}
#portfolioHeader h1 {
    background-image: linear-gradient(180deg, #ff0044ad, rgba(0, 0, 0, 0.13));
    color:#ffbad5;
    text-align: center;
    margin: 15px;
    margin-bottom: 0;
    border-bottom: 2px solid #ff003c80;
    border-radius: 0 10px 10px 10px;
}
#portfolioShowcase {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #868686; */
    height: auto;
    min-height: 100%;
    margin: 1%;
    overflow-y: scroll;
    padding: 5% 5%;
    gap: 5%;
    border-top: 4px solid rgba(0, 0, 0, 0.200);
}
.showcasePreview {
    /* background-color: #780b28; */
    background-image: linear-gradient(180deg, #ff0044ad, rgba(0, 0, 0, 0.564));
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-bottom: 3px solid #ff003c80;
    border-right: 3px solid #ff003c80;
    border-radius: 10px;
    text-align: center;
    color: #ffbad5;
    font-size: larger;
    overflow: hidden;
    /* position: relative; */
}
.showcasePreview img {
    height: 100%;
    width: auto;
    margin-left: -25%;
}
.showcasePreview:hover {
    background-image: linear-gradient(180deg, #ff4e7ddd, rgba(60, 60, 60, 0.767));
    border-bottom: 3px solid #ff56bbb4;
    border-right: 3px solid #ff56bbb4;

}
.showcasePreview:active {
    background-image: linear-gradient(180deg, #b10024c4, rgba(0, 0, 0, 0.628));
    border-bottom: 1px solid #ff003c80;
    border-right: 2px solid #ff003c80;
    transform: translate(1px, 3px);
}