* {

    padding: 0px;
    
    margin: 0px;
    
    box-sizing: border-box;
    }



a {
    color:#F2AEC7;
}

body {
    margin: auto;
    align-content: center;
    max-width: 500px;
    background-color:#161616;
    padding: 10px;
}

p {
    color:#F2F2F2;
    padding: 10px;    
}

h1, h2, h3, h4, h5, h6 {
    color: #518557;
    padding: 10px;
}